/* all contents */
body {
    background-color: var(--md-sys-color-background);
    margin: 0 0;
    font-family: var(--md-sys-typescale-body-large-font-family-name);
    min-width: min-content;
}

.content {
    padding-top: 6.25rem;
    min-width: min-content;
    margin: 0 auto;
}

/* header */

header {
    background-color: var(--md-sys-color-primary);
    width: 100%;
    height: 4.375rem;
    text-align: center;
    position: fixed;
    overflow: hidden;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
}

header img {
    margin-left: 2%;
}

header nav {
    padding-top: 15px;
    padding-bottom: 10px;
}

header nav a {
    color: var(--md-sys-color-on-primary);
    display: inline-block;
    padding: .625rem .9375rem;
    margin: 0 2%;
    line-height: 1;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all 0.3s;
}

header nav a:hover {
    border: 1px solid var(--md-sys-color-on-primary);
}

header nav div.tooltip img {
    display: inline-block;
    padding: .625rem .9375rem;
    margin-left: 0;
    margin-right: 5%;
    line-height: 1;
}

.tooltip {
    margin-left: 92%;
    margin-top: 1.5625rem;
    position: fixed;
}

.tooltip .tooltiptext {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    visibility: hidden;
    opacity: 0;
    text-align: left;
    padding: 0.5rem;
    border-radius: 20px;
    margin-top: 0.5rem;
    width: 14rem;
    margin-left: -13rem;
    transition: all 0.3s;
}

.tooltip .tooltiptext p {
    color: var(--md-sys-color-on-primary-container);
    margin: 5% 10%;
}

.tooltip .tooltiptext p a {
    color: var(--md-sys-color-on-primary-container);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip:hover .tooltiptext p a:hover {
    color: var(--md-sys-color-primary);
    border-bottom: 2px solid var(--md-sys-color-primary);
}

/* signup page */

.signup {
    text-align: center;
}

.signup h1 {
    color: var(--md-sys-color-on-background);
}

.signup p {
    color: var(--md-sys-color-error);
}

.signup input[type=text],
.signup input[type=email],
.signup input[type=password] {
    border: 2px solid var(--md-sys-color-primary);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    outline: none;
    width: 20rem;
    height: fit-content;
    margin-bottom: 2rem;
    transition: all 0.5s;
}

.signup input[type=text]:focus,
.signup input[type=email]:focus,
.signup input[type=password]:focus {
    background-color: var(--md-sys-color-primary-container);
    ;
    border: 2px solid var(--md-sys-color-on-secondary-container);
}

.signup input[type=submit] {
    background-color: var(--md-sys-color-primary-container);
    border: 2px solid var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    outline: none;
    width: fit-content;
    height: fit-content;
    margin-bottom: 2rem;
    transition: all 0.5s;
}

.signup input[type=submit]:hover {
    background-color: var(--md-sys-color-primary);
    border: 2px solid var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

/* login page */

.login {
    text-align: center;
}

.login h1 {
    color: var(--md-sys-color-on-background);
}

.login p {
    color: var(--md-sys-color-error);
}

.login p a {
    color: var(--md-sys-color-secondary);
    transition: all 0.5s;
}

.login p a:hover {
    color: var(--md-sys-color-primary);
}

.login input[type=email],
.login input[type=password] {
    border: 2px solid var(--md-sys-color-primary);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    outline: none;
    width: 20rem;
    height: fit-content;
    margin-bottom: 2rem;
    transition: all 0.5s;
}

.login input[type=email]:focus,
.login input[type=password]:focus {
    background-color: var(--md-sys-color-primary-container);
    ;
    border: 2px solid var(--md-sys-color-on-secondary-container);
}

.login input[type=submit] {
    background-color: var(--md-sys-color-primary-container);
    border: 2px solid var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    outline: none;
    width: fit-content;
    height: fit-content;
    margin-bottom: 2rem;
    transition: all 0.5s;
}

.login input[type=submit]:hover {
    background-color: var(--md-sys-color-primary);
    border: 2px solid var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

/* All Cameras Page */

main {
    max-width: min-content;
    margin: 0 auto;
    text-align: center;
}

main h1 {
    margin-left: 1rem;
    text-align: left;
}

.camera-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.camera-list a {
    border-radius: 20px;
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    transition: all 0.3s;
}

.camera-list a:hover {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

.camera-list img {
    border-radius: 20px;
    max-width: 20rem;
    height: auto;
    margin-top: 0.5rem;
}

/* cameradetails page */
.camera-details {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    padding: 1rem 4rem;
    padding-bottom: 4rem;
    margin: 2rem auto;
    width: min-content;
    border-radius: 20px;
}

.camera-details .grid-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.camera-details div p {
    text-align: left;
    margin-bottom: 1.4rem;
    margin-left: 3rem;
    width: min-content;
    white-space: nowrap;
}

.camera-details p {
    text-align: center;
}

.camera-details p a {
    color: var(--md-sys-color-on-primary);
    text-decoration: underline;
    transition: all 0.3s;
}

.camera-details p a:hover {
    color: var(--md-sys-color-error-container);
}

.camera-details img {
    max-width: 50rem;
    height: auto;
    margin: 1rem;
    border-radius: 20px;
}

/* show watchlist page */

main.watchlist {
    max-width: 70rem;
    margin: 0 auto;
    text-align: left;
}

main.watchlist h2 {
    margin-bottom: 0rem;
}

.watchlist-item {
    display: flex;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 20px;
}

.watchlist-item a {
    text-decoration: none;
    color: var(--md-sys-color-on-primary);
}

.watchlist-item img {
    max-width: 10rem;
    height: auto;
}

main:last-child form {
    text-align: center;
}

main.watchlist form {
    text-align: right;
}

main.watchlist form input {
    margin-top: 0rem;
    margin-left: auto;
    margin-right: 1rem;
    background-color: var(--md-sys-color-primary-container);
    border: 2px solid var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    outline: none;
    width: fit-content;
    height: fit-content;
    transition: all 0.5s;
}

.watchlist-item .remove {
    margin-left: auto;
    margin-right: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--md-sys-color-primary-container);
    border: 2px solid var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    outline: none;
    width: fit-content;
    height: fit-content;
    transition: all 0.5s;
}

main:last-child input {
    margin-left: 1rem;
    background-color: var(--md-sys-color-primary-container);
    border: 2px solid var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    outline: none;
    width: fit-content;
    height: fit-content;
    margin-top: 3rem;
    transition: all 0.5s;
}

main:last-child input:hover,
.watchlist-item .remove:hover,
main.watchlist form input:hover {
    background-color: var(--md-sys-color-error-container);
    border: 2px solid var(--md-sys-color-error-container);
    color: var(--md-sys-color-on-error-container);
}

/* about page */

main.aboutpage {
    max-width: fit-content;
    text-align: left;
}